<ion-header>
    <ion-toolbar color="primary">
      <ion-title >GENERALE</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>  
  <ion-content>
      <ion-list class="inputLabel">
          <ion-item class="inputItem">
              <ion-label class="addInput-Label" floating>CODICE IMPIANTO</ion-label>
              <ion-input class="addInput" [(ngModel)]='codice_impianto'   type="text"></ion-input>
            </ion-item>
      
      </ion-list>
  </ion-content>
  